html,body { height:100%; }
.target{
    background-color: orangered;
    background-image: url("../../assets/images/target.png");
    background-size: contain;
    border-radius: 50%;
    animation: targetAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    position: absolute;
}
.target:hover{
    cursor: pointer;
}
header{
    line-height: 60px;
    height: 80px;
}
section{
    background-color: rgb(181, 216, 228);
    outline: solid 4px rgb(77, 76, 163);
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
}

@keyframes targetAnimation{
    0%{transform: scale(100%);}
    100%{transform: scale(0%);}
}