body{
    background-color: beige;
}
section{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 4%;
    justify-content: space-between;
}
#pageLogo{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}
#pageLogo img{
    width: max(20vh, 150px);
    height: max(20vh, 150px);
    margin-bottom: 30px;
}
[id*="Container"]{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    outline: 2px solid black;
    background-color: darkgray;
    margin-top: 20px;
    text-align: center;
}
#loginContainer{
    height: auto;
}
#registerContainer{
    height: auto;
}
#loginContainer *, #registerContainer *{
    text-align: center;
}
#loginContainer > div, #registerContainer > div, #registerContainerWeb3 > div{
    font-size: 48px;
    background-color: rgb(147, 212, 63);
    outline: green solid 2px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
[type="button"]{
    margin-top: 15px;
    border-radius: 10px;
    width: 50%;
    background-color: rgb(147, 212, 63);
    border: black solid 2px;
}
[type="button"]:hover{
    background-color: rgb(116, 175, 39);
    cursor: pointer;
}
[type="button"]:active{
    background-color: rgb(147, 212, 63);
}
[type="text"], [type="password"]{
    width: 90%;
    border-radius: 10px;
    border: solid black 2px;
}
[type="checkbox"]{
    margin-top: 10px;
}
.registerClicked{
    animation-duration: 0.5s;
    animation-name: registerClick;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#successTextRegister{
    font-size: 22px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 48px;
}
h3, input{
    font-size: 36px;
}
h4{
    font-size: 16px;
}
[class*="changeTo"]:hover, a , #loginEthereum:hover{
    color: blue;
    cursor: pointer;
}
@media (max-height: 750px){
    h1{
        display: none;
    }
}
.notDisplay{
    display: none;
}

@keyframes registerClick{
    0%   {transform: scale(100%);}
    100%   {transform: scale(0);
    display: none;}
}