@font-face {
    font-family: "Balsamic Sans";
    src: url("../assets/fonts/BalsamiqSans-Regular.ttf");
}
@font-face {
    font-family: "Balsamic Sans";
    src: url("../assets/fonts/BalsamiqSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Balsamic Sans";
    src: url("../assets/fonts/BalsamiqSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Balsamic Sans";
    src: url("../assets/fonts/BalsamiqSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
html,body { height:100%; }
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    position: static;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
ul, ol{
    list-style: none;
}
img{
    width: 100%;
}
input{
    font-family: "Balsamic Sans" !important;
}
h1, h2{
    font-family: "Balsamic Sans" !important;
}
h3, h4, h5, h6, p, label{
    font-family: "Poppins" !important;
}

[class *= RoundImage]{
    border-radius: 50%;
    margin: 0;
}
.smallRoundImage{
    width: min(5vw, 75px);
    height: min(5vw, 75px);
    /* transition: 2s; */ /*Just to test transitions*/
}
/* .smallRoundImage:hover{
    transform: rotateX(45deg) rotateY(35deg);
} */
.bigRoundImage{
    width: 10vw;
    height: 10vw;
}
.smallFixedRoundImage{
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
}
.depth0{
    z-index: 0;
}
.depth10{
    z-index: 10;
}
.depth20{
    z-index: 20;
}

#gameInfo{
    display: flex;
    padding: 10px;
}
#gameInfo h1{
    font-size: 40px;
    margin-left: auto;
}
.backArrow{
    min-width: 100px;
    height: 50px;
    transition: 0.1s;
}
.backArrow:hover{
    transform: scale(110%);
}
#finishScreen{
    width: 400px;
    height: 250px;
    background-color: rgb(179, 223, 135);
    border: 3px dashed black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    visibility: hidden;
}
#finishScreen h1{
    display: inline;
    align-self: center;
    font-size: 38px;
}
#finishScreen input{
    align-self: center;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    font-size: 38px;
}
#btnBckToTitle{
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.1s;
}
#btnBckToTitle:hover{
    background-color: gray;
    cursor: pointer;
}
#btnBckToTitle:active{
    background-color: darkgray;
}
.redText{
    color: rgb(175, 0, 0);
}
.greenText{
    color: rgb(21, 112, 33);
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}