@font-face {
    font-family: "Balsamic Sans";
    src: url("../assets/fonts/BalsamiqSans-Regular.ttf");
}
@font-face {
    font-family: "Balsamic Sans";
    src: url("../assets/fonts/BalsamiqSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Balsamic Sans";
    src: url("../assets/fonts/BalsamiqSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Balsamic Sans";
    src: url("../assets/fonts/BalsamiqSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    position: static;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
ul, ol{
    list-style: none;
}
img{
    width: 100%;
}

h1, h2{
    font-family: "Balsamic Sans";
}
h3, h4, h5, h6, p{
    font-family: "Poppins";
}

[class *= RoundImage]{
    border-radius: 50%;
    margin: 0;
}
.smallRoundImage{
    width: min(5vw, 75px);
    height: min(5vw, 75px);
}
.bigRoundImage{
    width: 10vw;
    height: 10vw;
}
.smallFixedRoundImage{
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
}
.blockedImage{
    filter: brightness(60%);
}
.visible{
    visibility: hidden;
}

.depth0{
    z-index: 0;
}
.depth10{
    z-index: 10;
}
.depth20{
    z-index: 20;
}

#gameInfo{
    display: flex;
    padding: 10px;
}
#gameInfo h1{
    font-size: 40px;
    margin-left: auto;
}
.backArrow{
    min-width: 100px;
    height: 50px;
}