.container{
    width: 90%;
    min-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "word stickman"
    "keyboard stickman";
}

.container > div{
    border: solid black 1px;
    background-color: red;
    border-radius: 20px;
    padding: 20px;
    width: 5000px;
}
#keyboard{
    grid-area: keyboard;
}
#word{
    grid-area: word;
}
#hangedMan{
    grid-area: stickman;
}