html,body { height:100%; }
header{
    line-height: 60px;
    height: 80px;
}
#gameZone{
    display: flex;
    background-color: aqua;
    height: calc(100% - 80px);
    width: 100%;
}
#gameZone > div:first-of-type{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    justify-content: space-evenly;
}
#hangedMan{
    width: 300px;
    height: 480px;
    margin: auto;
}
#hangedMan img{
    width: 100%;
    height: 100%;
}
#keyboard{
    width: 58vw;
    height: 400px;
    background-color: bisque;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#word{
    width: 58vw;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
}
.letter{
    align-self: center;
    margin-left: 4px;
    margin-right: 4px;
}
.letter h1, .keyboardLetter h1{
    font-size: 48px;
}
.keyboardLine{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.keyboardLetter{
    margin: 6px;
    width: 50px;
    border-radius: 10px;
    border: 2px black solid;
    background-color: darkgray;
    height: max-content;
    display: inline-block;
    text-align: center;
    align-self: center;
}
.keyboardLetter:hover{
    background-color: gray;
    cursor: pointer;
}
.correct{
    background-color: lightgreen;
}
.wrong{
    background-color: lightcoral;
}

/* #wordSpace{
    width: 58vw;
    height: 100px;
    background-color: red;
    margin: auto;
    position: relative;
}
#word{
    display: inline-flex;
    background-color: blue;
    width: 90%;
    position: absolute;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
} */