header{
    background-color: rgb(147, 212, 63);
    outline: 5px green solid;
    position: fixed;
    top: 0;
    width: 100%;
}
nav{
    padding: 5px;
    padding-bottom: 0;
    display: flex;
    position: relative;
}
nav > h1{
    font-size: min(4vw, 60px);
    line-height: min(5.5vw, 80px);
    margin-left: 20px;
}
nav > div{
    display: inline;
    margin-left: auto;
    display: flex;
}
nav > div >div{
    line-height: 2.5vw;
    margin-right: 20px;
}

#nombre, #nivel{
    font-size: min(2vw, 30px);
}

#profilePic{
    background-color: white;
    outline: 2px black solid;
}

#achievementsSection{
    position: fixed;
    left: 0;
    width: min(15vw, 235px);
    height: 100%;
    background-color: darkgray;
    outline: 5px gray solid;
    padding-top: min(8.5vw, 120px);
}
#blockImage{
    background-color: white;
    background-image: url("../assets/images/AchievementLock.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: min(15vw, 235px);
    height: 100%;
    position: fixed;
    filter: opacity(70%);
}

.achievementRow{
    display: flex;
    margin-bottom: 3vw;
}
.achievement{
    margin-left: 1.5vw;
}
#info
{
    bottom: -20px;
    left: 0.5vw;
    width: min(25vw, 250px);
    height: 100px;
    position: fixed;
}
#info h3{
    font-size: max(0.7vw, 0.9vw);
}

#games{
    width: 80vw;
    margin-top: 8vw;
    margin-left: 18vw;
    padding-top: 1px;
}
.game{
    display: inline-block;
    background-color: red;
    height: 100%;
    min-width: 350px;
    min-height: 350px;
    border-radius: 10px;
    margin: 5px;
}
.gameHeader{
    padding: 5px;
    height: 85px;
    max-width: 350px;
    background-color: blueviolet;
    display: flex;
    border-radius: 10px;
}
.gameHeader h1{
    text-wrap: wrap;
    font-size: 32px;
    margin: auto;
}